.wrapper{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f7f8fc;
}

.card{
    width:420px;
    background:white;
    padding:40px;
    border-radius:16px;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
}

.card h1{
    margin-bottom:10px;
    color:#1f2937;
}

.card p{
    color:#6b7280;
    margin-bottom:30px;
    line-height:1.6;
}

.card input{
    width:100%;
    padding:14px;
    border:1px solid #ddd;
    border-radius:8px;
    margin-bottom:20px;
    font-size:15px;
}

.card button{
    width:100%;
    padding:14px;
    border:none;
    background:#2563eb;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
}

.card button:hover{
    background:#1d4ed8;
}

.message{
    margin-top:20px;
    text-align:center;
    color:green;
    font-weight:600;
}